{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% load
my_tags %} {% block title%} SchoolManagmentApp {% endblock title %} 
{% block content%}

<div class="container-fluid mt-5 gray-bg email-box">
	<div class="row color-border">
		<!-- Left Sidebar with Menu -->
		<div class="menu-list col-md-3 email-box one-border dark-bg">
			<div class="list-group bg-dark">
				<div class="text-center mt-5 mb-5">
					<a href="{% url 'create_email'%}">
					<button type="button" class="login-nav-btn new-email-button">
						New Message
					</button>
				</a>
				</div>
				<a href="{% url 'inbox'%}" class="email-nav"
					><button
						type="button"
						class="list-group-item px-3 border-0 email-nav"
					>
						Inbox
						{%if not_read %}
							<div class="my-badge">{{not_read}}</d>
						{%endif%}
					</button></a
				>
				<a href="{% url 'outbox'%}" class="email-nav"
					><button
						type="button"
						class="list-group-item px-3 border-0 email-nav"
					>
					Outbox
					</button></a
				>
				<a href="{% url 'important'%}" class="email-nav"
					><button
						type="button"
						class="list-group-item px-3 border-0 email-nav"
					>
						Important
					</button></a
				>
			</div>
		</div>

		<!-- Right Content with List of Emails -->
		<div class="col-md-9 menu-list email-box">
			<h3 class="my-3 text-white">{{view_name}}</h3>
			<div class="list-group">
				<!-- Sample Email Items -->
				<a href="#" class="list-group-item bg-transparent border-0 height60">
					<table class="table table-responsive-md">
						<tbody class="">
							{% for email in page_obj%}
							{%if email.is_read_receiver%}
								<tr class="email-list">
									<td class="text-center text-white text-decoration-none">
										<a href="{%url 'email_is_important' email.id  %}?source=important">
											<i class="icon fa-solid fa-star" style="color: #ffff00;"></i>
										</a>
									</td>
									<td class="text-white text-decoration-none">
										<a class="text-reset text-white" href="{{ email.get_absolute_url}}">
											{{email.sender}}
										</a>
									</td>
									<td class="text-white text-decoration-none">
										<a class="text-reset text-white" href="{{ email.get_absolute_url}}">
											{{email.title}}
										</a>
									</td>
									<td class="text-center text-white text-decoration-none">
										<a class="text-reset text-white" href="{{ email.get_absolute_url}}">
											{{email.date}}
										</a>
									</td>
								</tr>
								{%else%}
								<tr class="email-list bolded">
									<td class="text-center text-white text-decoration-none">
										<a href="{%url 'email_is_important' email.id  %}?source=important">
										<i class="icon fa-solid fa-star" style="color: #ffff00;"></i>
									</a>
									</td>
									<td class="text-white text-decoration-none">
										<a class="text-reset text-white" href="{{ email.get_absolute_url}}">
											{{email.sender}}
										</a>
									</td>
									<td class="text-white text-decoration-none">
										<a class="text-reset text-white" href="{{ email.get_absolute_url}}">
											{{email.title}}
										</a>
									</td>
									<td class="text-center text-white text-decoration-none">
										<a class="text-reset text-white" href="{{ email.get_absolute_url}}">
											{{email.date}}
										</a>
									</td>
								</tr>
							{%endif%}
							{%endfor%}
						</tbody>
					</table>
				</a>
				<ul class="pagination justify-content-end">
					<li class="page-item">
						{% if page_obj.has_previous %}
					  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
					  {% endif %}
					</li>
					<li class="page-item">
						{% if page_obj.has_next %}
					  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
					  {% endif %}
					</li>
				  </ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
