{% extends "base.html" %}
{% block content %}

<div class="report-box-detail ">
    <div class="report-card-detail text-white card-gray">

        <div class="report-text">
            <h3>Welcome {{ user.first_name }} {{ user.last_name }}!</h3>
        </div>
        <div class="mt-2 card-divider"></div>
        <div class="filter-content mt-2 card-dark">
            <form method="post" class="form-inline">
                {% csrf_token %}

                <label for="subject" class="text-white fs-5 mr-2">Select Subject:</label>
                <div class="form-group">
                    <select name="{{ choice_class_subject_form.subject.name }}" class="fs-5">
                        {% for choice_value, choice_label in subject_choces %}
                        <option value="{{ choice_value }}" class="">{{ choice_label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="class_unit" class="text-white fs-5 mt-2 mb-2 ml-2">Select Class: </label>
                <div class="form-group">
                    <select name="{{ choice_class_subject_form.class_unit.name }}" class="fs-5">
                        {% for choice_value, choice_label in class_choices %}
                        <option value="{{ choice_value }}">{{ choice_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button class="login-nav-btn apply-border" type="submit">Apply</button>
                </div>
            </form>
        </div>
    </div>

</div>



{% endblock %}