{% extends "base.html" %}
{% block content %}

<div class="report-box-detail">
    <div class="report-card-detail text-white">

        <div class="report-text">
            <h3>Welcome {{ user.first_name}} {{user.last_name}}</h3>
        </div>
        <div class="report-text">
            <h2></h2>Jedziemy z tym gównem</h3>
        </div>
        <div class="mb-2 mt-2 card-divider"></div>
        <div class="report-text">
            <h4></h4>
        </div>

    </div>
</div>


{% endblock %}