{% extends "base.html" %}

{%block content%}



<div class="report-box">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="display-8 mb-3 text-white"><b> {{current_report}} </b></h2>
                </div>
            </div>
        </div>
    <div class="report-card-detail text-white">

            <div class="report-text"><h3>Author: {{current_report.teacher}}</h3></div>
            <div class="report-text"><h2></h2>Title: {{current_report.lesson_title}}</h3></div>
            <div class="mb-2 mt-2 card-divider"></div>
            <div class="report-text"><h4>{{current_report.lesson_description}}</h4></div>
            <a href="{% url 'teacher_reports' %}">
                <i class="fa-solid fa-backward back-button-image" style="color: #023602;"></i>
            </a>
    </div>


</div>





{%endblock content%}
