{% extends "base.html" %}
{% block content %}

<!-- filtering -->
<div class="d-flex">
    <div id="filterButton" class="filter-button mx-2">Filtering</div>
</div>

<div id="filterWindow" class="filter-window ">
    <div class="filter-content ">
        <span class="filter-close" id="filterButtonClose">&times;</span>
        <div class="filter-form">
            <form method="post">
                {% csrf_token %}
                <div class="form-field">

                    <label for="subject" class="text-white">Subject:</label>
                    <select name="{{ filter_form.subject.name }}" class="">
                        {% for choice_value, choice_label in subject_choices %}
                            <option value="{{ choice_value }}">{{ choice_label }}</option>
                        {% endfor %}
                    </select>

                <label for="class_unit" class="text-white">Class unit:</label>
                <select name="{{filter_form.class_unit.name}}" class="" >
                        {% for choice_value, choice_label in class_choices %}
                 <option value="{{ choice_value }}">{{ choice_label }}</option> 
                 {% endfor %}      
                </select>

                </div>

                <div class="form-field">
                    <label for="start_date" class="text-white">Select date: </label>
                    <input type="date" name="start_date" class="">
                </div>
                <button type="submit" class="login-nav-btn apply-border">Apply</button>
            </form>
        </div>
    </div>
</div>



<!-- reports -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="lc-block">
                <h2 editable="inline" class="display-4 mb-2 text-white"><b> {{current_teacher}} reports: </b></h2>
            </div>
        </div>
    </div>


    <div class="report-box">
        {% for report in pages %}
        <a class="text-decoration-none text-white" href="{% url 'report_detail' report.id %}">
                <div class="report-card">
                <div class="report-text">{{ report }} </div>
            </div>
            </a>
        {% endfor %}
    </div>
</div>

<!-- pagination -->
{% if pages.paginator.num_pages > 1 %}
                <nav aria-label="..." >
                    <ul class="pagination d-flex justify-content-center mb-0">
                        {% if pages.has_previous %}
                            <li class="">
                                <a class="page-link" href="?page={{ pages.previous_page_number }}">Prevoius</a>
                            </li>
                            <li class="">
                                <a class="page-link" href="?page=1">1</a>
                            </li>
                        {% endif %}
                        <li class="" aria-current="page">
                            <span class="page-item-active">{{ pages.number }}</span>
                        </li>
                        {% if pages.has_next %}
                            <li class="">
                                <a class="page-link" href="?page={{ pages.paginator.num_pages }}">{{pages.paginator.num_pages }}</a>
                            </li>
                            <li class="">
                                <a class="page-link" href="?page={{ pages.next_page_number }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}



    {% endblock content %}