<!DOCTYPE html>
{%load static%}
<html lang="en">
	
	<head>
		<meta charset="UTF-8" />
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/04a6da9d09.js"
			crossorigin="anonymous"
		></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static '/css/base_style.css' %}" />
		<title>{% block title %} {% endblock title %}</title>
	</head>
	<body>
		{% if messages %}
		<ul class="message" id="error">
		  {% for message in messages %}
			{% if message.tags == 'error' %}
			  <li class="alert alert-danger">{{ message }}</li>
			{% endif %}
			{% if message.tags == 'success' %}
			  <li class="alert alert-success">{{ message }}</li>
			{% endif %}
		  {% endfor %}
		</ul>
	  {% endif %}
		
		<section class="hero">
			<div class="main-width">
				<header class="logo">
					<div><a href="{% url 'home' %}"><img class="logo-img" src="{% static 'img/logo.png' %}" alt="" /></a></div>
					<nav>
						<div class="hamb">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<ul class="nav-list">

							<li><a href="{% url 'home' %}"><button id="login-nav" 
								class="login-nav-btn" >Login</button></a></li>
						</ul>
					</nav>
				</header>
                </div>
				<div class="cards">
                    <div class="card one">
                        <button><i class="far fa-question-circle"></i></button>
                        <div class="text">
                            <h1>Łukasz Mroczkowski</h1>
                            <h2>Junior Python Developer</h2>
                            <div class="social">
                            <a href="https://www.linkedin.com/in/mroczkowski-lukasz/" target="_blank"
                            ><i class="fa-brands fa-linkedin fa-xl"></i></a>

                            <a href="https://www.codewars.com/users/Mrokus95" target="_blank"
                            >Codewars</a>

                            <a href="https://github.com/Mrokus95" target="_blank"
                            ><i class="fa-brands fa-github fa-xl"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="card two">
                        <button><i class="far fa-question-circle"></i></button>
                        <div class="text">
                            <h1>Mateusz Świst</h1>
                            <h2>Junior Python Developer</h2>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/mateusz-%C5%9Bwist/" target="_blank"
                                    ><i class="fa-brands fa-linkedin fa-xl"></i></a>
                                <a href="https://www.codewars.com/users/MatS1" target="_blank"
                                    >Codewars</a>
                                <a href="https://github.com/MateuszSwist" target="_blank"
                                    ><i class="fa-brands fa-github fa-xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
		<script type="text/javascript" src="{% static 'js/authors_cards.js' %}"></script>
	</body>
</html>

