<!DOCTYPE html>
{%load static %}
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/04a6da9d09.js"
			crossorigin="anonymous"
		></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{% static '/css/style.css' %}" />
		<title>Liceum Ogólnokształcące</title>
	</head>
	<body>
		{% if messages%}
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<span class="alert alert-danger message red" id="error">{{ message }}</span>
				{% endif %}
			{% endfor %}
		{% endif %}
		
		<section class="hero">
			<div class="main-width">
				<header class="logo">
					<div><img class="logo-img" src="{% static 'img/logo.png' %}" alt="" /></div>
					<nav>
						<div class="hamb">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<ul class="nav-list">
							<li><a href="#">Home</a></li>
							<li><a href="#">About project</a></li>
							<li><a href="#">Authors</a></li>
							{% if not user.is_authenticated %}
								<li><a href=""><button id="login-nav-btn" class="login-nav-btn">Login</button></a></li>
							{% else %}
								<li><a href="{% url 'logout' %}"><button id="login-nav" class="login-nav-btn" >Logout</button></a></li>
							{%endif%}
						</ul>
					</nav>
				</header>
				<div class="container">
					<div class="hero-text">
						<h3>Witamy!</h3>
						<h1>Jesteśmy <span class="input"></span></h1>
						<p>
							Od 70 lat kształcimy przyszłych naukowców,lekarzy, architektów,
							prawników i artystów. <br />

							Od 40 lat jesteśmy Szkołą Stowarzyszoną UNESCO.<br />

							Organizujemy międzynarodowe wyjazdy i przedsięwzięcia -
							odwiedziliśmy już niemal całą Europę, byliśmy także w Tajlandii i
							w Japonii.<br />

							Rozwijamy talenty naukowe, sportowe i artystyczne!<br />

							Stawiamy na naukę!
						</p>
						<div class="social">
							<a href="https://www.facebook.com/2lozabrze/" target="_blank"
								><i class="fa-brands fa-facebook"></i
							></a>
							<a href="https://twitter.com/lostrzelno" target="_blank"
								><i class="fa-brands fa-twitter"></i
							></a>
							<a href="https://www.instagram.com/2loptb/" target="_blank"
								><i class="fa-brands fa-instagram"></i
							></a>
						</div>
	
					</div>
					<div id="login-form" class="login-form">
						<form action="{% url 'home' %}" method="POST">
							<h3>Login Here</h3>
							<label for="id_username">Username</label>
							<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Username">
							<label for="id_password">Password:</label>
							<input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
							{% csrf_token %}
							<button type="submit">Log In</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	</body>
</html>
