{% extends 'base.html' %} 
{% load static %}
{% block title %} Reset Password {% endblock title%} 



{%block content %}
{% if validlink %}
  <section class="text-white d-flex flex-column justify-content-center align-items-center">
      <form
              method="post" 
              action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}"
              class="card-body p-5 text-center"
            >
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                <p class="text-white-50 mb-5">
                  Write your new password.
                </p>
                <div class="form-outline form-white mb-5">
                  <input
                    type="password"
                    name="new_password1"
                    id="id_new_password1"
                    class="form-control form-control-lg"
                  />
                  <label for="id_new_password2"> New password</label>
                </div>
                <div class="form-outline form-white mb-5">
                  <input
                    type="password"
                    name="new_password2"
                    id="id_new_password2"
                    class="form-control form-control-lg"
                  />
                  <label for="id_new_password2"> Confirm new password</label>
                </div>
                {% csrf_token %}
                <button class="btn btn-outline-light btn-lg px-5" type="submit">
                  Reset Password
                </button>
    </div>
  </section>
{% else %}

  <section class="first-section text-white d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid text-center" >
      <h1>The reset link is inactive!</h1>
          <p>The link you used has already been used before.</p>
    </div>
    <div>
      <img src="{% static 'images/stop.png' %}" alt="">
    </div>
  </section>
{% endif %} 
{% endblock content %}



