{% extends 'base.html' %} 
{% load static %}
{% block title %} 
Reset Password 
{% endblock title %} 



{%block content %}
<section class="mt-5 text-white d-flex flex-column justify-content-center align-items-center">
	<div class="container-fluid text-center" >
		<h1>Reset Password</h1>
		<p>Your password has been changed successfully.</p>
		<p>
			To log in, go to the <a href="{% url 'home' %}">login panel</a>.
		</p>
	</div>
	<div>
		<img src="{% static 'img/success.png' %}" alt="">
	</div>
</section>
{% endblock content %}

