{% extends 'base.html' %}
{% load static%}
{% load widget_tweaks %}
{% block title %} Change password {% endblock title %}

{%block content %}
<section class="text-white d-flex flex-column justify-content-center align-items-center">
	<div class="card bg-dark text-white mt-5" style="border-radius: 1rem;">
    <form
        method="post" 
        action="{% url 'passwordChange' %}"
		class="card-body p-5 text-center"
		>
			<div class="mb-md-2 mt-md-4 pb-5">
				<h2 class="fw-bold mb-2 text-uppercase">Change your password.</h2>

				{%for field in form %}
                    {{field|add_class:"form-control form-control-md"}}
                     {{field|add_label_class:"form-label"}}
                {%endfor%}
				{% csrf_token %}
				<div>
					<button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit">
					Change Password
					</button>
				</div>
			</div>
	</form>
</div>
</section>
{% endblock content %}
