{% extends 'base.html' %} 
{% block title %} Reset Password {% endblock title %}



{%block content %}
<section class="text-white d-flex flex-column justify-content-center align-items-center">
    <form
            method="post" 
            action="{% url 'password_reset' %}"
						class="card-body p-5 text-center"
					>
						<div class="mb-md-5 mt-md-4 pb-5">
							<h2 class="fw-bold mb-2 text-uppercase">Reset your password</h2>
							<p class="text-white-50 mb-5">
								Tell us the username and email address associated with your account,<br/> and we’ll send you an email with a link to reset your password. 
							</p>
							<div class="form-outline form-white mb-5">
								<input
									type="email"
									name="email"
									id="id_email"
									class="form-control form-control-lg"
								/>
							</div>
							{% csrf_token %}
							<button class="btn btn-outline-light btn-lg px-5" type="submit">
								Reset Password
							</button>
	</div>
</section>
{% endblock content %}

