{% extends 'base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock title %}

{%block content %}
<section class="mt-5 text-white d-flex flex-column justify-content-center align-items-center">
	<div class="container-fluid text-center" >
		<h1>Reset Password</h1>
        <p>We have sent an email with a password reset link.</p>
		<p>If you did not receive this message, please make sure that you provided the correct information in the form.</p>
	</div>
	<div>
		<img src="{% static 'img/email.png' %}" alt="">
	</div>
</section>
{% endblock content %}
