{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title%}
    School Managment App
{% endblock title %}
{% block content%}
<section class="first-section">
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-6 col-xl-7 empty-class">
                <div class="text-center">
                    {% if view_name == 'register_student' %}<img src="{% static 'img/students.png' %}" {% endif %}
                    {% if view_name == 'register_teacher' %}<img src="{% static 'img/teacher.png' %}" {% endif %}
                    {% if view_name == 'register_parent' %}<img src="{% static 'img/parents.png' %}" {% endif %}
                    class="img-fluid pics" alt="Sample image">
                </div>
            </div>
            <div class="mt-5 col-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <form 
                    {% if view_name == 'register_student' %}action="{% url 'register_student' %}"{% endif %}
                    {% if view_name == 'register_teacher' %}action="{% url 'register_teacher' %}"{% endif %}
                    {% if view_name == 'register_parent' %}action="{% url 'register_parent' %}"{% endif %}
                    method="POST" class="card-body p-5 text-center" enctype="multipart/form-data">
                        <div class=" mt-md-4 pb-5">

                    {% if view_name == 'register_student' %}<h2 class="fw-bold mb-2 text-uppercase">Sign up student</h2>{% endif %}
                    {% if view_name == 'register_teacher' %}<h2 class="fw-bold mb-2 text-uppercase">Sign up teacher</h2>{% endif %}
                    {% if view_name == 'register_parent' %}<h2 class="fw-bold mb-2 text-uppercase">Sign up parent</h2>{% endif %}

                            <p class="text-white-50 mb-5">Please enter data!</p>

                            {% for field in registration_form %}
                                {{ field|add_class:"form-control form-control-md" }}
                                {{ field|add_label_class:"form-label" }}
                            {% endfor %}

                            {% if view_name == 'register_teacher' %}

                            {%for field in teacher_registration_form %}
                                <div>
                                {{field|add_label_class:"form-label"}}
                                {{field}}
                                </div>      
                            {%endfor%}

                            {% endif %}

                            {% if view_name == 'register_student' %}

                            {%for field in student_registration_form %}
                                {{field|add_class:"form-control form-control-md"}}
                                {{field|add_label_class:"form-label"}}
                            {%endfor%}

                            {% endif %}
                        

                            {% csrf_token %}
                            <div class="form-outline mt-2">
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign up</button>      
                        </div>           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

