{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- okno filtrowania -->





    <!-- tytuł strony -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="display-4 mb-2 text-white"><b>Your events:</b></h2>
                </div>

                <!-- okno potwirdzenia usunięcia -->



            </div>
        </div>

        <!-- posty -->
        <div class="row pt-4 mb-4">
            {% for event in pages %}
            <div class="col-md-4 mb-4">
                <div class="lc-block border border-dark p-4 shadow-lg rounded" style="background-color: #186428">
                    <div class="text-center text-white">
                        <h4 class="my-3" editable="inline">
                            <a href="{% url 'event_detail' event.id %}" class="text-decoration-none text-white">{{ event.event_type }}</a>
                        </h4>
                        <h5 class="my-3 text-white" editable="inline">Realisation: {{ event.realisation_time }}</h5>
                        <p>Subject: {{ event.subject }}</p>
                        <p class="card-subtitle mb-2">Author: {{event.author}}</p>
                        <p class="card-subtitle mb-2 text-muted">Added: {{event.add_time}}</p>
                    </div>

                    {% if event.visited == False %}
                    <i class="fa-solid fa-circle-exclamation fa-lg d-flex justify-content-center" style="color: #ff0000;"></i>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>


        <!-- paginacja -->
        {% if pages %}
        <nav aria-label="...">
            <ul class="pagination d-flex justify-content-center">
                {% if pages.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pages.previous_page_number }}">Poprzednia</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ pages.number }}</span>
                </li>
                {% if pages.has_next %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ pages.paginator.num_pages }}">{{pages.paginator.num_pages }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ pages.next_page_number }}">Następna</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
<p>nawigacja</p>
<br>
<p>nawigacja</p>
{% endblock content %}

</html>